html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body > section > header {
  padding: 30px;
  background-color: #99f;
}
body > section > header h1 {
  color: #ddf;
}
body .container {
  width: 940px;
}
body .container nav {
  width: 140px;
}
body .container nav ul li {
  margin-left: 20px;
  padding: 10px;
  font-size: 14pt;
  border-bottom-color: #999;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
body .container nav ul li:hover {
  background-color: #ffc;
}
body .container #data-form section {
  background-color: #eef;
}
body .container #data-form section article {
  background-color: #ffc;
  width: 60%;
  margin-left: 60px;
  padding: 10px;
  border-color: #ccf;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
}
body .container #data-form section article img {
  border-color: #ccf;
  border-width: 1px;
  border-style: dotted;
  border-radius: 5px;
}
body .container #data-form section article .formula {
  background-color: #fff;
  border-color: #ccf;
  border-width: 1px;
  border-style: dotted;
  border-radius: 5px;
  width: 140px;
}
body .container #data-form section table {
  width: 100%;
}
body .container #data-form section table td {
  text-align: right;
  border-bottom-color: #999;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
body .container #data-form section table td:last-child {
  border: 0;
}
body .modal {
  border-radius: 0;
}
body .modal header {
  background-color: #99f;
}
body aside {
  text-align: right;
}
body aside button, body aside input[type="submit"] {
  background-color: #99f;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10%;
  font-size: 14pt;
  border-color: #ccf;
  border-width: 1px;
  border-style: dotted;
  border-radius: 5px;
}
body aside button:hover, body aside input[type="submit"]:hover {
  background-color: #ccf;
}
body input[type="number"] {
  width: 40px;
}
