@import "compass/reset";

body{
  &>section{
    &>header{
      padding: 30px;
      background-color: #99f;

      h1{
        color: #ddf;
      }
    }
  }
  .container{
    width: 940px;

    nav{
      width: 140px;

      ul{
         li{
          margin-left: 20px;
          padding: 10px;

          font-size: 14pt;

          border-bottom-color: #999;
          border-bottom-width: 1px;
          border-bottom-style: dotted;

          &:hover{
            background-color: #ffc;
          }
        }
      }
    }
    #data-form{
      section{
        background-color: #eef;

        article{
          background-color: #ffc;
          width: 60%;
          margin-left: 60px;
          padding: 10px;

          border-color: #ccf;
          border-width: 5px;
          border-style: solid;
          border-radius: 5px;

          img{
            border-color: #ccf;
            border-width: 1px;
            border-style: dotted;
            border-radius: 5px;
          }
          .formula{
            background-color: #fff;

            border-color: #ccf;
            border-width: 1px;
            border-style: dotted;
            border-radius: 5px;

            width: 140px;
          }
        }
        table{
          width: 100%;

          td{
            text-align: right;

            border-bottom-color: #999;
            border-bottom-width: 1px;
            border-bottom-style: dotted;

            &:last-child{
              border: 0;
            }
          }
        }
      }
    }
  }
  .modal{
    border-radius: 0;

    header{
      background-color: #99f;
    }
  }
  aside{
    text-align: right;

    button, input[type="submit"]{
      background-color: #99f;

      padding: 20px;
      margin-top: 20px;
      margin-right: 10%;

      font-size: 14pt;

      border-color: #ccf;
      border-width: 1px;
      border-style: dotted;
      border-radius: 5px;

      &:hover
      {
        background-color: #ccf;
      }
    }
  }
  input[type="number"]{
      width: 40px;
  }
}